In [1]:
import pandas as pd

# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    prefix + '/yellow_tripdata_2021-01.csv.gz',
    nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

print(df)

    VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0          1  2021-01-01 00:30:10   2021-01-01 00:36:12                1
1          1  2021-01-01 00:51:20   2021-01-01 00:52:19                1
2          1  2021-01-01 00:43:30   2021-01-01 01:11:06                1
3          1  2021-01-01 00:15:48   2021-01-01 00:31:01                0
4          2  2021-01-01 00:31:49   2021-01-01 00:48:21                1
..       ...                  ...                   ...              ...
95         2  2021-01-01 00:12:41   2021-01-01 00:26:47                1
96         2  2021-01-01 00:23:29   2021-01-01 00:35:03                2
97         2  2021-01-01 00:46:17   2021-01-01 00:54:25                2
98         2  2021-01-01 00:28:16   2021-01-01 00:51:44                1
99         2  2021-01-01 00:42:35   2021-01-01 00:54:41                3

    trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            2.10           1                  N           142            43
1            0.20           1                  N           238           151
2           14.70           1                  N           132           165
3           10.60           1                  N           138           132
4            4.94           1                  N            68            33
..            ...         ...                ...           ...           ...
95           4.13           1                  N           161           226
96           4.12           1                  N           162            74
97           2.22           1                  N           144           170
98           7.11           1                  N           264           264
99           1.61           1                  N           229           237

    payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0              2          8.0    3.0      0.5        0.00           0.0
1              2          3.0    0.5      0.5        0.00           0.0
2              1         42.0    0.5      0.5        8.65           0.0
3              1         29.0    0.5      0.5        6.05           0.0
4              1         16.5    0.5      0.5        4.06           0.0
..           ...          ...    ...      ...         ...           ...
95             1         14.5    0.5      0.5        3.66           0.0
96             2         13.5    0.5      0.5        0.00           0.0
97             1          9.0    0.5      0.5        2.56           0.0
98             2         23.5    0.5      0.5        0.00           0.0
99             2          9.5    0.5      0.5        0.00           0.0

    improvement_surcharge  total_amount  congestion_surcharge
0                     0.3         11.80                   2.5
1                     0.3          4.30                   0.0
2                     0.3         51.95                   0.0
3                     0.3         36.35                   0.0
4                     0.3         24.36                   2.5
..                    ...           ...                   ...
95                    0.3         21.96                   2.5
96                    0.3         17.30                   2.5
97                    0.3         15.36                   2.5
98                    0.3         24.80                   0.0
99                    0.3         13.30                   2.5

[100 rows x 18 columns]

In [2]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
print(engine)

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [3]:
schema = pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine)
print(schema)

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [4]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [9]:
df_iter = pd.read_csv(
   prefix + '/yellow_tripdata_2021-01.csv.gz',
    nrows=100,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

for df_chunk in df_iter:
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    print(len(df_chunk))

100

In [12]:
from tqdm.auto import tqdm

first = True

for df_chunk in tqdm(df_iter):
    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="yellow_taxi_data",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))

0it [00:00, ?it/s]